<% provide(:title, "Edit user") %>
<h1 class="center">Update your profile</h1>

<div class="row update">
    <div class="span3 offset4 signupRow">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation %>

          <%= f.submit "Save changes", class: "btn btn-primary signupButton" %>
        <% end %>
    </div>
</div>